APP_NAME=AppChama
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://agilizeerp.com.br
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=appchama
DB_USERNAME=appchama
DB_PASSWORD=SUA_SENHA_AQUI

SESSION_DRIVER=database
QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=appchama-database-
REDIS_DB=2
REDIS_CACHE_DB=3

CACHE_PREFIX=appchama-cache-

# Sem Reverb em produção XAMPP (evita conflito com Evolution API na 8080)
BROADCAST_CONNECTION=log

SMS_PROVIDER=log
MAPBOX_ACCESS_TOKEN=
DEFAULT_TENANT_SLUG=chama-demo

MAIL_MAILER=log
LOG_CHANNEL=stack
LOG_LEVEL=warning
